* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.seccion-1 {
  background-image: url("background-sec-1.png");
  background-position: center;

  background-size: cover;

  width: 100%;
  height: 1000px;
}

.logo-img {
  width: 200px;
  margin-top: 15px;
}

.logo-conteiner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.corazon-conteiner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 500px;
}

.title {
  color: #dfc94e;
  margin-top: 20px;
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 40px;
}

.seccion-2 {
  background-color: black;
}

.p-text {
  color: #dfc94e;
  margin: 0;
  padding: 20px;
  font-size: 30px;
  font-family: "Satisfy", cursive;
  text-align: center;
}

.footer {
  background-color: black;
}

.h3-footer {
  color: #dfc94e;
  margin: 0;
  text-align: center;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
